doctype html
html(lang="en")
head
  
  // Basic page needs
  meta(charset="utf-8")
  title Twitter Client
  meta(name="description" content="")
  meta(name="author" content="")

  // Mobile Specific Metas
  meta(name="viewport" content="width=device-width, initial-scale=1")

  // FONTS
  link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css')

  // CSS
  link(rel="stylesheet" href="/css/global.css")

body
  header(class="circle--header" style=`background-image: url(${user.profile_banner_url})`)
    .bounds
      .circle--fluid
        .circle--fluid--cell
          a(class="logo" href="index.html")
            //- img(src=`${user.profile_banner_url}` id="bannerImg")
            h1(id="handle")= `@${user.screen_name}`
        div(class="circle--fluid--cell align-right")
          nav
            ul(class="circle--inline")
              li
                a Sign Out

  .app--tweet
    form(action="/" method="post" id="tweet-form")
      .circle--fluid
        div(class="circle--fluid--cell circle--fluid--primary align-bottom app--tweet--post")
          .app--avatar(id="myAvatar" style=`background-image: url(${user.profile_image_url})`)
            img(src=`${user.profile_image_url}`)
          textarea(class="circle--textarea--input" placeholder="What's happening?" id="tweet-textarea" name="tweet")
          input(type="hidden" value=`${user.name}` id="myName")
          strong(class="app--tweet--char" id="tweet-char") 140
        div(class="circle--fluid--cell align-bottom")
          button( class="button-primary" type="submit" id="tweet-submit") Tweet

  div(class="bounds app--body")
    .app--section--header
      .grid-33
        .app--section--heading
          h2 Timeline
      .grid-33
        .app--section--heading
          strong= user.friends_count
          h2 Following
      .grid-33
        .app--section--heading
          h2 Direct Messages

    .grid-33
      .app--section
        ul.app--tweet--list
          each tweet in tweets
            li
              strong.app--tweet--timestamp= `${moment.utc(tweet.created_at).fromNow()}`
              a.app--tweet--author
                .app--avatar(style=`background-image: url(${tweet.user.profile_image_url})`)
                  img(src="images/f-spore.png")
                h4= tweet.user.name
                p= `@${tweet.user.screen_name}`
              p= tweet.text
              ul(class="app--tweet--actions circle--list--inline")
                li
                  a.app--reply
                    span.tooltip Reply
                    img(src="images/reply.svg")
                li
                  a.app--retweet
                    span.tooltip Retweet
                    img(src="images/retweet.svg")
                    strong= tweet.retweet_count
                li
                  a.app--like
                    span.tooltip Like
                    img(src="images/like.svg")
                    strong= tweet.favorite_count
                  
    .grid-33
      .app--section
        ul.app--user--list
          each friend in friends
            li
              .circle--fluid
                div(class="circle--fluid--cell circle--fluid--primary")
                  a.app--tweet--author
                    div.app--avatar(style=`background-image: url(${friend.profile_image_url})`)
                      img(src="images/f-spore.png")
                    h4= friend.name
                    p= `@${friend.screen_name}`
                .circle--fluid--cell
                  a(class="button button-text") Unfollow

    .grid-33
      .app--section
        ul.app--message--list
          li
            h3 Conversation with 
              a= conversationPartner.name
            ul.app--message--conversation
              each message in messages
                li(class=`${message.isMe?'app--message--me':'app--message'}`)
                  .app--avatar(style=`background-image: url(${message.isMe?user.profile_image_url:conversationPartner.profile_image_url})`)
                    img(src=`${message.isMe?user.profile_image_url:conversationPartner.profile_image_url}`)
                  p.app--message--text= message.message_create.message_data.text
                  p.app--message--timestamp= `${moment.unix(parseInt(message.created_timestamp/1000)).fromNow()}`
    
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
           integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
           crossorigin="anonymous")
    script(src="js/tweet.js")
